.ConditionLabel {
  display: block;
  margin: 1em auto;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
}

.ConditionLabel--block {
  width: 100%;
}

.ConditionLabel--left {
  text-align: left;
}