.ConditionLabel {
  display: block;
  font-size: 1.2em;
  /* text-align: center; */
  text-transform: uppercase;
}

.ConditionLabel--block {
  width: 100%;
}

.ConditionLabel--center {
  text-align: center;
}