.Ruleset {
  display: block;
  /* border: 1px solid #efefef; */
  margin: 1em auto;
  /* max-width: 960px; */
  padding: 2em;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.Ruleset__rules {
  border-bottom: 1px solid #efefef;
  padding: 1em 0;
  margin-bottom: 1em;
}

.Ruleset__rules_container {
  border: 1px solid #81a6bb;
  border-radius: 10px;
  margin: 1em auto;
  padding: 1em;
  background: #fff;
}

.Ruleset__rules_title {
  text-transform: uppercase;
  color: #81a6bb;
}

.Ruleset__effect {
  border: 1px solid #3dd280;
  border-radius: 10px;
  margin: 1em auto;
  padding: 1em;
  background: #fff;
}
.Ruleset__effect_title {
  text-transform: uppercase;
  color: #3dd280;
}

.Ruleset__RemoveBtnContainer {
  text-align: right;
}
.Ruleset__RemoveBtn {
  text-transform: uppercase;
}
